@model graduation_project_ideas_2.Models.projects

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>projects</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.proj_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proj_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proj_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proj_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proj_tools)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proj_tools)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teamleaders.std_skills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teamleaders.std_skills)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
